* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: sans-serif;
    color: white;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {outline: none;}
a:focus, a:active {outline: none;}

nav, footer, header, aside{display: block;}

html, body {
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer}
button::-moz-focus-inner {padding: 0; border: 0;}
a, a:visited{text-decoration: none;}
ul li {list-style: none}
img {vertical-align: top}

h1, h2, h3, h4, h5, h6 {font-size: inherit; font-weight: 400;}

body {
    background-color: #4b4b4b;
    margin: 30px;
}


.grid-body {

    display: grid;

    grid-template: repeat(16, minmax(30px, 0.5fr)) / repeat(5, minmax(100px, 1fr));

    margin-top: 50px;

    max-width: 900px;
}

.grid-body {}

.grid{
    border: 1px solid #ffffff9c;
    display: grid;
    font-weight: bold;
    padding: 5px;
}


.grid-item1{grid-row: 1 / 3;justify-content: end;align-items: end;}

.grid-item2{grid-column: 2 / 6;justify-content: center;}

.grid-item6{justify-content: center;align-items: center;}

.grid-item7{grid-column: 1 / 6;display: flex;justify-content: space-between;align-items: center;}

.grid-item8{grid-column: 1 / 6;display: flex;align-items: center;padding: 10px;justify-content: space-between;}

.grid-item9{grid-column: 1 / 4;grid-row: 5 / 9;grid-template: repeat(4 , 1fr) / repeat(2, 1fr);padding: 5px;}

.grid-item9 div:nth-child(1){
    grid-row: 1 / 3;
}

.grid-item9 div:nth-child(2){
    grid-row: 1 / 3;
    display: flex;
    justify-content: flex-end;
}

.grid-item9 div:nth-child(3){
    grid-row: 3 / 5;
    display: flex;
    align-items: flex-end;
}

.grid-item9 div:nth-child(4){
    grid-row: 3 / 5;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.grid-item10{grid-column: 4 / 6;grid-row: 5 / 9;}

.grid-item10 div:nth-child(1) {
    display: flex;
    justify-content: center;
}

.grid-item10 div:nth-child(2) {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.grid-item11{grid-column: 1 / 3;display: flex;align-content: center;justify-content: center;align-items: flex-start;padding-right: 100px;}

.grid-item12{grid-column: 3 / 6;grid-row: 9 / 11;display: flex;justify-content: flex-end;align-items: center;}

.grid-item13{grid-column: 1 / 3;display: flex;justify-content: center;padding-left: 130px;}

.grid-item14{grid-column: 1 / 3;grid-row: 11 / 14;display: flex;align-items: center;justify-content: space-between;}

.grid-item15{
    grid-column: 3 / 3;
    grid-row: 11 / 12;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.grid-item16{
    display: flex;
    justify-content: center;
}

.grid-item17{
    grid-column: 5 / 6;
    grid-row: 11 / 13;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 20px;
    padding-right: 10px;
}

.grid-item18{}

.grid-item19{
    grid-column: 4 / 5;
    grid-row: 12 / 14;
    padding: 10px;
}

.grid-item20{
    display: flex;
    align-items: center;
}
.grid-item21{
    text-align: right;
}
.grid-item22{
    grid-column: 1 / 6;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}
.grid-item23{
    grid-column: 1 / 4;
    display: flex;
    justify-content: space-between;
}
.grid-item24{
    grid-column: 4 / 6;
    grid-row: 15 / 17;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 40px;
    padding-top: 20px;
}
.grid-item25{
    grid-column: 1 / 4;
    display: flex;
    justify-content: space-evenly;
}

h1 {
    font-size: 16px;

    font-weight: 800;

    padding-left: 10px;
}

p {
    line-height: 23px;

    color: #ffd100;

    font-weight: 700;

    padding: 10px 0;

    font-size: 16px;
}